@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

nav {

}

nav a {

}

nav a:hover, nav a:active {

}

.listingsDiv {

}

/*red/pink color: rgb(255, 56, 92) */



.listingCard { 

}

.header {

}

.footer {

}

.buttonIcons {

}
